<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <title>Output</title>
  <link rel="icon" type="image/png" href="favicon.ico"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
  <link href="QueryBuilder.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<h1>Census API Query Builder</h1>

<h2>Query:</h2> <input id="queryval" type="text" size="200">
<br>
<button onclick="reload();">Reload</button>

<br><br>
<h2>Output:</h2>

<div id="loading"></div>

<div id="loaded" 
    style="display: none" 
    ng-app="Output" 
    ng-controller="table">

<div ng-if="query_length > 5000">Current Row Limit for Interactive view is 5,000 <br> Non-returned rows: {{query_length - 5000}}<br></div> 

<div ng-if="query_length < 5000">Returned rows: {{query_length}}<br></div>

  <a href='#' class="export" id="downloadCSV">Download as CSV</a><br><br>
            
	<table id="outputTable">
		<tr>
			<th ng-repeat="x in query_head track by $index">
        {{x}}
      </th>
		</tr>
		<tr ng-repeat="body in query_body | limitTo: 5000" ng-if="$index > 0">
			<td ng-repeat="col in col_num" >{{body[col]}}</td>
		</tr>
	</table>


</div>
<iframe id="Response" style="display:none;" height="500" width="1000"></iframe>
<br>
<br>

<!-- <div style="position: fixed; bottom: 3px; background-color: white;">
  Any Issues or Requested Improvements e-mail Stephen.C.Mangum@Census.gov
</div> -->
</body>

<script id="worker1" type="javascript/worker">
self.addEventListener('message', function(e) {
  
  fetch(e.data, function(xhr) { 
    var result = xhr.responseText;
    var object = JSON.parse(result);
    setTimeout(function() { sendback(); }, 2000);
    function sendback(){
      self.postMessage(JSON.parse(JSON.stringify(object)));
    }
  });

}, false);
  function fetch(url, callback) {
    var xhr = new XMLHttpRequest(); 
    xhr.onreadystatechange = function () {
      console.log(xhr.readyState);
      if(xhr.readyState < 4) {return;}
      if(xhr.status !== 200) {self.postMessage('error');}
      if(xhr.readyState === 4) {callback(xhr);}     
    }
    xhr.open('GET', url, true);
    xhr.send('');
  }
</script>

<script>
var app = angular.module("Output",[]);

  app.filter('pagination', function()
    {
     return function(input, start)
     {
      start = +start;
      return input.slice(start);
     };
    });

  app.controller("table", function($scope,$http,$q) {

    $scope.query_body = [];
  	$scope.col_num = [];
  	$scope.query = sessionStorage.getItem('query');
  	document.getElementById('queryval').value = $scope.query.replace('&key=86ef546139db8dddaff1b4a9562f9a902f2b60b0','');


      var blob = new Blob([document.querySelector('#worker1').textContent]);
      var blobURL = window.URL.createObjectURL(blob);
      var worker = new Worker(blobURL);

      
      worker.addEventListener('error',
        function wk_error (err){
          Response = document.getElementById('Response');
          Response.style.display = 'inline';
          document.getElementById('downloadCSV').style.display = 'none';
          Response.src = $scope.query;
          document.getElementById('loading').style.display = 'none';
          document.getElementById('loaded').style.display = 'inline';
          $scope.$apply() 
        }
      ,false);
        
      worker.addEventListener('message', function(e) {
        if(e.data !== 'error'){
          $scope.query_head = e.data[0];
            for(i=0;i<e.data[0].length;i++){
              $scope.col_num.push(i);
            };
            $scope.query_body = e.data;
            $scope.query_length = e.data.length;
            $scope.$apply() 

            document.getElementById('loading').style.display = 'none';
            document.getElementById('loaded').style.display = 'inline';
        };
          
      }, false);

      worker.postMessage($scope.query);

       $scope.sortBy = function(propertyName) {
            $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : true;
            $scope.propertyName = propertyName;
         };

      });
    
  function reload(){
  	sessionStorage.setItem('query', document.getElementById('queryval').value + '&key=86ef546139db8dddaff1b4a9562f9a902f2b60b0');
  	window.open("QueryBuilderOut.html","_self");
  };

  function exportTableToCSV($table, filename) {
          var $rows = $table.find('tr'),
              // Temporary delimiter characters unlikely to be typed by keyboard
              // This is to avoid accidentally splitting the actual contents
              tmpColDelim = String.fromCharCode(11), // vertical tab character
              tmpRowDelim = String.fromCharCode(0), // null character
              // actual delimiter characters for CSV format
              colDelim = '","',
              rowDelim = '"\r\n"',
              // Grab text from table into CSV formatted string
              csv = '"' + $rows.map(function (i, row) {
                  var $row = $(row),
                      $cols = $row.find('th, td');

                  return $cols.map(function (j, col) {
                      var $col = $(col),
                          text = $col.text();
                  
                      return text.replace(/"/g, '""'); // escape double quotes

                  }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim)
                  .split(tmpRowDelim).join(rowDelim)
                  .split(tmpColDelim).join(colDelim) + '"',

              // Data URI
              csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

          $(this)
              .attr({
              'download': filename,
                  'href': csvData,
                  'target': '_blank'
          });
      };

      // This must be a hyperlink
      $(".export").on('click', function (event) {
          // CSV
          exportTableToCSV.apply(this, [$('#outputTable'), 'APIOutput.csv']);
        });


</script>