<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <title>API Query Builder</title>
  <link rel="icon" type="image/png" href="favicon.ico"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link href="QueryBuilder.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<h1>Census API Query Builder</h1>

<div ng-app="MetricsAPI" ng-controller="titles">
  <h2>Select a Discovery page - </h2>
  <select id="selection">
    <option>http://api.census.gov/data</option>
    <option>http://api.census.gov/data/bds</option>
    <option>http://api.census.gov/data/eits</option>
    <option>http://api.census.gov/data/timeseries</option>
    <option>http://web10.dev.rm.census.gov/data</option>
    <option>http://web9.test.rm.census.gov/data</option>
    <option>http://web9.test.rm.census.gov/dataAlpha</option>
    <option>https://beta.dataweb.rm.census.gov/data</option>
  </select>
  <button type="button" ng-click="loadDiscovery()">Load Endpoints</button>
  <br><br>

  <div id="mainTable">
    Filter Titles: <input ng-model="titleFilter.title" type="text" size="70">
    <br>
    <table ng-repeat="x in datasetsInfo | filter:titleFilter " class="bordertd">
      <tr>
        <th style='width: 30%; text-align: left;' >
          {{x.title}} 
        </th>
        <td rowspan='2' class="bordertd">
         {{x.description}} <br><br> {{x.varLink}}
        </td>
      </tr>
      <tr>
        
        <td>
          <button type="button" ng-click="loadOptionsList(x.varLink,x.title); varFilterInput = undefined">  Use this Endpoint </button>
        </td>
      </tr>
    </table>
  </div>

  <div id="expandTable">
    <table class="table">
      <tr>
        <td colspan="2"><h2>{{endpointTtl}}</h2></td>
      </tr>
      <tr>
        <td colspan="2">{{endpoint}}</td>
      </tr>
      <tr>
        <td>
          <h3>Get Statement Selector</h3>
        </td>
        <td id="geoSelttl">
          <h3>For Statement Selector</h3>
        </td>
      </tr>
      <tr>
        <td>
          Filter: <input id="varFilterInput" ng-model="varFilterInput" type="text" size="50">
          <select id="varSel" multiple="" size="18">

            <option ng-repeat="var in variables2 | filter:varFilterInput | orderBy: var[0]" ng-if="var[2] == undefined" value="{{var[0]}}">
              {{var[0]}} -- {{var[1]}}
            </option>
          </select>
          <br>
          <button type="buton" ng-click="addVar();" style="line-height: 20px; width:270px;">-  -  - \/ -  -  -</button>
          <button type="buton" ng-click="upVar();" style="line-height: 20px; width:270px">-  -  - /\ -  -  -</button>
          <br>
          <select id="varSel2" size="7">
          </select>
        </td>
        <td>
        	<table>
        		<tr>
        			<td>
			          Integer Filter: <input id="stringFilterInput" ng-model="intFilterInput" type="text" size="17">

			          <select id="intSel" size="8" ng-click="addGeo()" multiple="" class="select2">
			          	<option ng-repeat="int in intVar | filter:intFilterInput | orderBy: int">{{int}}</option>
			          </select>
			        </td>
			        <td>
			           String Filter: <input id="stringFilterInput" ng-model="stringFilterInput" type="text" size="17">

			          <select id="stringSel" size="8" ng-click="addGeo()" multiple="" class="select2">
			          	<option ng-repeat="string in stringVar | filter:stringFilterInput | orderBy: string">{{string}}</option>
			          </select>
			        </td>
			    </tr>
			    <tr>
			    	<td colspan="2">
			          Geography:
			          <br>
			          <select id="geoSel" size="9" ng-click="addGeo()">
			            <option ng-if="!geo.requires" ng-repeat="geo in geography">{{geo.name}}</option>
			            <option ng-if="geo.requires && !geo.requires[1]" ng-repeat="geo in geography">{{geo.name}} -- {{geo.requires[0]}}</option>
			            <option ng-if="geo.requires && geo.requires[1] && !geo.requires[2]" ng-repeat="geo in geography">{{geo.name}} -- {{geo.requires[0]}} -- {{geo.requires[1]}}</option>
			            <option ng-if="geo.requires && geo.requires[2]" ng-repeat="geo in geography">{{geo.name}} -- {{geo.requires[0]}} -- {{geo.requires[1]}} -- {{geo.requires[2]}}</option>
			          </select>
			          <br>
			          Time:
			          <br>
			          <select id="timeSel" size="5" ng-click="addGeo()">
			            <option ng-repeat="time in datetime">{{time}}</option>
			          </select> 
			          <br><br>
				      	  <input type="text" size="60" id="geoSelTxt" value='&for='>
				          <button type="button" ng-click="addGeotoLink()">Apply</button>
				          <button type="button" ng-click="clearGeo()">Clear</button>
				          <br>
				          <i style='font-size: .7em'>Replace the wildcard (*) where needed</i>
			        </td>
	        	</tr>         
	        </table>
        </td>
      </tr>   
        <td colspan="2">
        <br><br>
          <input type="text" size="195" id="TableLinkField" value="{{endpoint}}"><br>
            <button type="button" ng-click="goTableLink_adv()" >Generate Table</button>
            <button type="button" ng-click="goTableLink()" >Return API</button>
        </td>
      </tr> 
    </table>

  </div>

</div>



<!-- <div style="position: fixed; bottom: 3px; background-color: white;">
  Any Issues or Requested Improvements e-mail Stephen.C.Mangum@Census.gov
</div> -->

<script src="QueryBuilder.js"> </script>
